.landing-container{
    display: flex;
    align-items: center;
    .welcome-container{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            text-align: center;
        }
    }
    .categories-container{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
        margin-bottom: 40px;
        .pagination-container{
            padding: 10px;
            .pagination{
                font-weight: bold;
                font-size: 16px;
                span{
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .filters{
                margin-top: 10px;
                .title{
                    font-weight: bold;
                }
                .item{
                    margin-left: 10px;
                }
            }
        }
        .cards-container{
            display: flex;
            flex-wrap: wrap;
            .card {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                margin: 10px;
                border: 1px solid #eee;
                border-radius: 5px;
                img{
                    width: 100%;
                }
              }
              .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              }
              .container {
                padding: 2px 16px;
                color: white;
                background: #9393e7;
                cursor: pointer;
                display: flex;
                height: 50px;
                /* align-items: center; */
                justify-content: space-between;
                align-items: center;
              }
        }
    }
}